@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', cursive;
}

body {
    text-align: center;
    background: linear-gradient(to bottom, #a2ed93, #fff);
    min-height: 100vh;
}

.menu {
    display: flex;
    justify-content: center;
    background-color: #4ed4d4; 
    padding: 15px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.menu__item {
    background: none;
    border: none;
    color: #fff;
    font-size: clamp(20px, 21vw, 29px);
    margin: 0 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none; 
}

.menu__item:hover {
    text-decoration: underline; 
}

main {
    display: inline-block;
    margin-top: 2%;
    padding: 15px;
    position: relative;
}

.pokedex {
    width: 100%;
    max-width: 425px;
}

.pokemon__image {
    position: absolute;
    bottom: 55%;
    left: 50%;
    transform: translate(-65%, 20%);
    height: 18%;
}

.pokemon__data {
    position: absolute;
    font-weight: 500;
    color: black;
    top: 53%;
    right: 28%;
    font-size: clamp(9px, 5vw, 25px);
}

.pokemon__name {
    color: rgb(50, 49, 49);
    text-transform: capitalize;
}

.form {
    position: absolute;
    width: 64%;
    top: 65%;
    left: 13%;
}

.input__search {
    width: 100%;
    padding: 5%;
    outline: none;
    border: 3px solid #555454;
    border-radius: 6px;
    font-weight: 500;
    color: #555454;
    font-size: clamp(6px, 4vw, 1rem);
    box-shadow: -4px 5px 0 #5c5b5b;
}

.buttons {
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 65%;
    transform: translate(-57%, 10%);
    display: flex;
    gap: 18px;
}

.button {
    width: 50%;
    padding: 4%;
    border: 2px solid #555454;
    border-radius: 6px;
    font-size: clamp(6px, 4vw, 1rem);
    font-weight: 600;
    background-color: rgb(240, 240, 204);
    box-shadow: -4px 5px 0 #5c5b5b;
}

.button:active {
    background-color: #a2ed93;
    box-shadow: inset -4px 4px #000000;
}
